/* NAVIGATION */

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 0 10%;
}

.nav-items {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-items li {
    padding: 10px;
}

.navbar-toggle {
    display: none;
}


/* CONTENT */

.content-wrapper {
    /* padding: 0 10%; */
}


/* INFO SECTION */

.info {
    display: flex;
}


/* BENEFIT SECTION */

.benefit-wrapper {
    display: flex;
}

.appointment {
    display: flex;
}


/* FOOTER SECTION */